<footer class="page-footer indigo darken-2">
    <div class="container">
        <div class="row">
            <div class="col l5 s12">
                <h5 class="white-text" translate="FOOTER.CONTENT.TITLE"></h5>
                <p class="grey-text text-lighten-4" translate="FOOTER.CONTENT.DESCRIPTION"></p>
            </div>
            <div class="col l6 offset-l1 s12">
                <h5 class="white-text" translate="FOOTER.LINK.TITLE"></h5>
                <ul>
                    <li>
                        <a class="grey-text text-lighten-3" href="http://hust.edu.vn" translate="FOOTER.LINK.HUST"></a>
                    </li>
                    <li>
                        <a class="grey-text text-lighten-3" href="http://soict.hust.edu.vn" translate="FOOTER.LINK.SOICT"></a>
                    </li>
                    <li>
                        <a class="grey-text text-lighten-3" href="http://soict.hust.edu.vn" translate="FOOTER.LINK.NCT"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <span translate="FOOTER.LICENSE.AUTH"></span>
            <a class="grey-text text-lighten-4 right" href="#!" translate="FOOTER.LICENSE.LINK"></a>
        </div>
    </div>
</footer>
