<!-- Dropdown Structure -->
<ul id="application" class="dropdown-content">
    <li ui-sref-active="active">
        <a class="waves-effect waves-light" ui-sref="main.licenseplate" translate="HEADER.LICENSEPLATE"></a>
    </li>
    <li class="divider"></li>
    <li ui-sref-active="active">
        <a class="waves-effect waves-light" ui-sref="main.gpstracking" translate="HEADER.GPSTRACKING"></a>
    </li>
    <li class="divider"></li>
    <li ui-sref-active="active">
        <a class="waves-effect waves-light" ui-sref="main.healthy" translate="HEADER.HEALTHY"></a>
    </li>
    <li class="divider"></li>
    <li ui-sref-active="active">
        <a class="waves-effect waves-light" ui-sref="main.deteingfall" translate="HEADER.DETEINGFALL"></a>
    </li>
</ul>
<nav class="indigo darken-2" ng-controller="HeaderCtrl">
    <div class="nav-wrapper">
        <a class="brand-logo" ui-sref="main.dashboard" translate="HEADER.LOGO" style="margin-left: 15px;"></a>
        <!-- activate side-bav in mobile view -->
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
        <ul class="right hide-on-med-and-down">
            <li ui-sref-active="active">
                <a class="waves-effect waves-light" ui-sref="main.dashboard" translate="HEADER.DASHBOARD"></a>
            </li>
            <li><a class="dropdown-button" href="#!" data-activates="application"><span translate="HEADER.APPLICATION"></span><i class="mdi-navigation-arrow-drop-down right"></i></a></li>
        </ul>
        <!-- navbar for mobile -->
        <ul class="side-nav" id="mobile-demo">
            <li ui-sref-active="active">
                <a class="waves-effect waves-light" ui-sref="main.dashboard" translate="HEADER.DASHBOARD"></a>
            </li>
            <li ui-sref-active="active">
                <a class="waves-effect waves-light" ui-sref="main.licenseplate" translate="HEADER.LICENSEPLATE"></a>
            </li>
            <li ui-sref-active="active">
                <a class="waves-effect waves-light" ui-sref="main.gpstracking" translate="HEADER.GPSTRACKING"></a>
            </li>
            <li ui-sref-active="active">
                <a class="waves-effect waves-light" ui-sref="main.healthy" translate="HEADER.HEALTHY"></a>
            </li>
            <li ui-sref-active="active">
                <a class="waves-effect waves-light" ui-sref="main.deteingfall" translate="HEADER.DETEINGFALL"></a>
            </li>
        </ul>
    </div>
</nav>
<script type="text/javascript">
// Initialize collapse button
$('.dropdown-button').dropdown({});
$('.button-collapse').sideNav({
    menuWidth: 300, // Default is 240
    edge: 'right', // Choose the horizontal origin
    closeOnClick: true // Closes side-nav on <a> clicks, useful for Angular/Meteor
});
</script>
