<div class="valign-wrapper">
    <h5 class="valign" translate="INTRODUCTION.M2MSTANDARDIZATION.TITLE"></h5>
</div>
<div class="row">
    <div class="col l7 m6 s12">
        <p translate="INTRODUCTION.M2MSTANDARDIZATION.P1"></p>
        <p class="red-text text-accent-3" translate="INTRODUCTION.M2MSTANDARDIZATION.P2"></p>
        <p class="green-text" translate="INTRODUCTION.M2MSTANDARDIZATION.P3"></p>
    </div>
    <div class="col s12 m6 l5">
        <img class="materialboxed responsive-img" src="images/connected-services.jpg" />
    </div>
</div>
<div>
    <h3 class="center-align" translate="INTRODUCTION.OM2MACHITETUDE.TITLE"></h3>
    <p class="left-align" translate="INTRODUCTION.OM2MACHITETUDE.P1"></p>
    <p class="left-align" translate="INTRODUCTION.OM2MACHITETUDE.P2"></p>
</div>
<div class="parallax-container">
    <div class="parallax"><img src="images/om2m_architecture.png" /></div>
</div>
<script type="text/javascript">
$('.parallax').parallax();
$('.materialboxed').materialbox();
</script>
<div class="row">
    <h3 class="center-align" translate="INTRODUCTION.OM2MPROCEDUREANDRESOURCE.TITLE"></h3>
    <div class="col s12 m10 l9">
        <p class="left-align" translate="INTRODUCTION.OM2MPROCEDUREANDRESOURCE.P1"></p>
        <p class="left-align" translate="INTRODUCTION.OM2MPROCEDUREANDRESOURCE.P2"></p>
        <p class="left-align" translate="INTRODUCTION.OM2MPROCEDUREANDRESOURCE.P3"></p>
        <p class="left-align" translate="INTRODUCTION.OM2MPROCEDUREANDRESOURCE.P4"></p>
    </div>
    <div class="col s12 m2 l3">
        <img class="materialboxed responsive-img" src="images/om2m featurers.png" />
    </div>
</div>
<div class="row">
    <h3 class="center-align" translate="INTRODUCTION.OM2MEXPERIMENTAL"></h3>
    <div class="col s12 m6 l6">
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="images/gpstracking.jpg" />
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4" translate="HEADER.GPSTRACKING"></span><i class="mdi-navigation-more-vert right"></i>
                <p><a ui-sref="main.gpstracking" translate="INTRODUCTION.CLICKLINK"></a></p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4"><span translate="HEADER.GPSTRACKING"></span><i class="mdi-navigation-close right" /></span>
                <p translate="INTRODUCTION.DESCRIPTION.GPSTRACKING"></p>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l6">
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="images/license.jpg" />
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4" translate="HEADER.LICENSEPLATE"></span><i class="mdi-navigation-more-vert right"></i>
                <p><a ui-sref="main.licenseplate" translate="INTRODUCTION.CLICKLINK"></a></p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4"><span translate="HEADER.LICENSEPLATE"></span><i class="mdi-navigation-close right" /></span>
                <p translate="INTRODUCTION.DESCRIPTION.LICENSEPLATE"></p>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l6">
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="images/icon-wellbeing.png" />
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4" translate="HEADER.HEALTHY"></span><i class="mdi-navigation-more-vert right"></i>
                <p><a ui-sref="main.healthy" translate="INTRODUCTION.CLICKLINK"></a></p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4"><span translate="HEADER.HEALTHY"/><i class="mdi-navigation-close right"/></span>
                <p translate="INTRODUCTION.DESCRIPTION.HEALTHY"></p>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l6">
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="images/smarthome.jpg" />
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4" translate="HEADER.DETEINGFALL"></span><i class="mdi-navigation-more-vert right"></i>
                <p><a ui-sref="main.deteingfall" translate="INTRODUCTION.CLICKLINK"></a></p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4"><span translate="HEADER.DETEINGFALL"></span><i class="mdi-navigation-close right" /></span>
                <p translate="INTRODUCTION.DESCRIPTION.DETEINGFALL"></p>
            </div>
        </div>
    </div>
</div>
<!-- <div class="row">
    <div class="col s12 m6">
        <div class="card small amber darken-4">
            <div class="white-text">
                <span class="card-title">NSCL</span>
                <canvas id="radar" class="chart chart-radar" chart-data="data" chart-labels="labels">
                </canvas>
            </div>
            <div class="card-action">
                <a ng-click="randomize()" href>Randomize</a>
            </div>
        </div>
    </div>
    <div class="col s12 m6">
        <div class="card small orange darken-4">
            <div class="white-text">
                <span class="card-title">GSCL</span>
                <canvas id="polar-area" class="chart chart-polar-area" chart-data="data2" chart-labels="labels2">
                </canvas>
            </div>
            <div class="card-action">
                <a ng-click="randomize()" href>Randomize</a>
            </div>
        </div>
    </div>
</div> -->
<!-- <div>
    <div class="row">
        <table class="responsive-table striped">
            <thead>
                <tr>
                    <th data-field="label" ng-repeat="label in labels3">{{label}}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td ng-repeat="data in data3[0]">{{data}}</td>
                </tr>
                <tr>
                    <td ng-repeat="data in data3[1]">{{data}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <canvas id="line" class="chart chart-line" chart-data="data3" chart-labels="labels3" chart-legend="true" chart-series="series3" chart-click="onClick">
        </canvas>
    </div>
</div> -->
